<div class="main">

    <div class="btn">
        <button (click)="showimages()">Show Images</button>
    </div>
    
    <div class="container"  *ngIf="showimage">
        <div class="row card-row">
            <div class="col-md-3 ca main_image" style="margin-bottom: 15px;" *ngFor="let imageUrl of imageUrls">
                <div class="card-container">
                    <div class="card mb-4" style="border: none; border-radius: 4px; box-shadow: 0px 0px 10px 0px rgb(152, 152, 152);">
                        <img class="card-img-top" [src]="imageUrl" alt="Uploaded Image" style="width: 200px; height: 200px; ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  